.App-header {
   font-size: calc(10px + 2vmin);
  color: white;
}
h4 {
  color: white;
}
#categories {
  width: 25%;
  float: left;
  padding: 10px;
}
#categories > ul > li {
  color: lightblue;
  border-style: double;
  border-color: white;
  padding: 20px;
  list-style: none;

}
#categories > ul > li:hover {
  color: black;
  background-color: white;
  border-color: red;
}
#questions {
  padding: 10px;
  color: white;
  float: left;
}
#searchTextBox {
  margin: 5px;
  
}
#headerLogIn {
  float: right;
  padding: 5px;
}
#headerLogIn > a , #headerLogIn > a:visited {
  color: white
}
header > h1 {
  float: left;
}
header {
  height: 150px;
}
#logInScreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
#innerLogInScreen {
  border-radius: 15px;
  padding: 10px;
height: 200px;
  width: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  margin: auto;
  border-style: solid;
  border-color: green;
}
#innerLogInScreen label {
 color: white;
}
#innerLogInScreen input {
  margin: 10px;
}
#logInButton {
  color: white;
  background-color: green;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}
#logInButton:hover {
  color: white;
  background-color: red;
}

.resetLink , .resetLink:visited, .resetFormLink{
  color: white;
  text-decoration: none;
}
#resetScreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
#innerResetScreen {
  border-radius: 15px;
  padding: 10px;
  height: 200px;
  width: 300px;
  background-color: black;
  display: flex;
  align-items: center;
  margin: auto;
  border-style: solid;
  border-color: green;
}
#innerResetScreen label, #innerResetScreen input {
  color: white;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
} 
#innerResetScreen input { color: black }
#resetbutton {
  background-color: green;
  border-style: none;
  padding: 5px;
  border-radius: 5px;
}

#closeLink, #closeLink:visited {
  float: left;
  color: white;
}
.question {
  font-size: 25px;
}
.answer {
  font-size: 20px;
}
#notLoggedIn {
  color: white;
  padding: 10px;
}
#notLoggedIn2 {
  color: white;
  padding: 10px;
}
/*CREATE USER SCREEN****************************************************/
#createUserScreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
#innerCreateUserScreen {
  border-radius: 15px;
  padding: 10px;
height: 300px;
  width: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  margin: auto;
  border-style: solid;
  border-color: green;
}
#innerCreateUserScreen label {
  color: white;
 }
 #innerCreateUserScreen input {
   margin: 10px;
 }
  #userAccountMain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    
 }
 #userAccountInner {
  padding: 10px;
  border-radius: 15px;
  height: 300px;
  width: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  margin: auto;
  border-style: solid;
  border-color: green;
  overflow-y: scroll;
 }
 .userSettingsLabel {
   color: white;
   display: block;
 }
 .h3Title {
  color: white;
}
.linkClose {
  color: white;
}
.settingsTextInput {
  marin: 3px;
}
.passwordRecoveryMainOuter{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.passwordRecoveryInner{
  padding: 10px;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  margin: auto;
  border-style: solid;
  border-color: green;

}

 /*********************************************************************/